@using RemoteUpkeep.Properties
@{
    ViewBag.Title = Resources.Index;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Resources.Administration</h2>

<ul>
    <li>@Html.ActionLink(Resources.Orders, "Index", "Orders", new { area = "Admin" }, null)</li>
    <li>@Html.ActionLink(Resources.Countries, "Index", "Countries", new { area = "Admin" }, null)</li>
    <li>@Html.ActionLink(Resources.Regions, "Index", "Regions", new { area = "Admin" }, null)</li>
    <li>@Html.ActionLink(Resources.Languages, "Index", "Languages", new { area = "Admin" }, null)</li>
    <li>@Html.ActionLink(Resources.Services, "Index", "Services", new { area = "Admin" }, null)</li>
    <li>@Html.ActionLink(Resources.Targets, "Index", "Targets", new { area = "Admin" }, null)</li>
    <li>@Html.ActionLink(Resources.Messages, "Index", "Messages", new { area = "Admin" }, null)</li>
    <li>@Html.ActionLink(Resources.Users, "Index", "Users", new { area = "Admin" }, null)</li>
</ul>
