@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Administration</h2>

<ul>
    <li>@Html.ActionLink("Countries", "Index", "Countries", new { area = "Admin" }, null)</li>
    <li>@Html.ActionLink("Regions", "Index", "Regions", new { area = "Admin" }, null)</li>
    <li>@Html.ActionLink("Languages", "Index", "Languages", new { area = "Admin" }, null)</li>
    <li>@Html.ActionLink("Services", "Index", "Services", new { area = "Admin" }, null)</li>
    <li>@Html.ActionLink("Orders", "Index", "Orders", new { area = "Admin" }, null)</li>
    <li>@Html.ActionLink("Targets", "Index", "Targets", new { area = "Admin" }, null)</li>
    <li>@Html.ActionLink("Messages", "Index", "Messages", new { area = "Admin" }, null)</li>
</ul>
