@using RemoteUpkeep.Properties
@model RemoteUpkeep.Models.Translation

@using (Ajax.BeginForm("UpdatePartial", null,
    new AjaxOptions
    {
        InsertionMode = InsertionMode.Replace,
        HttpMethod = "POST",
        UpdateTargetId = "modal-content",
        OnSuccess = "RefreshLanguages(" + Model.RecordId + ", '" + Model.Table + "', '" + Model.Field + "');"
    },
    new { @id = "frmModal" }))
{
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">@Resources.Edit</h4>
    </div>
    <div class="modal-body">

        @Html.HiddenFor(m => m.RecordId)
        @Html.HiddenFor(m => m.Table)
        @Html.HiddenFor(m => m.Field)

        <div class="form-group translation-language">
            @Html.LabelFor(m => m.LanguageId, htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.EditorFor(m => m.LanguageId, new { htmlAttributes = new { @class = "form-control language" } })
            @Html.ValidationMessageFor(m => m.LanguageId, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.OriginalValue, htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.EditorFor(m => m.OriginalValue, new { htmlAttributes = new { @class = "form-control" } })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.TranslationValue, htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.EditorFor(m => m.TranslationValue, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(m => m.TranslationValue, "", new { @class = "text-danger" })
        </div>

    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary" onclick="if ($('#frmModal').valid()) { $('#modal').modal('hide'); }">@Resources.Save</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">@Resources.Close</button>
    </div>
}