@using RemoteUpkeep.Properties
@using RemoteUpkeep.Models
@model Order

@{
    ViewBag.Title = Resources.Create;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Resources.Create</h2>
<div>
    @Html.ActionLink(Resources.BackToList, "Index")
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>@Resources.Order</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @Html.HiddenFor(model => model.CreatedDateTime)

        <div class="form-group">
            @Html.LabelFor(model => model.UserId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UserId, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.UserId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <input type="submit" value="@Resources.Create" class="btn btn-primary" />
        </div>

    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}