@using RemoteUpkeep.Properties
@using RemoteUpkeep.Helpers
@using RemoteUpkeep.Models
@model Order

@{
    ViewBag.Title = Resources.Edit;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Resources.Edit</h2>
<div>
    @Html.ActionLink(Resources.BackToList, "Index")
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Order</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.CreatedDateTime)

        <div class="form-group">
            @Html.LabelFor(model => model.UserId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UserId, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.UserId, "", new { @class = "text-danger" })
            </div>
        </div>

        <!-- order details -->

        <div style="padding-bottom: 10px;">
            <button type="button" class="btn btn-default pull-right create-target" data-id="@Model.Id">@Resources.NewTarget</button>
        </div>

        <div id="targetList">
            @Html.Partial("_DetailsListPartial", Model.OrderDetails)
        </div>

        <div class="form-group">
            <input type="submit" value="@Resources.Save" class="btn btn-primary" />
        </div>

    </div>
}

<!-- Modal -->
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content" id="modal-content"></div>
    </div>
</div>

@section Scripts {

    <script src="https://maps.googleapis.com/maps/api/js?key=@Keys.GoogleApiKey&callback=initMap" async defer></script>

    @Styles.Render("~/Content/datetimepicker")
    @Scripts.Render("~/bundles/datetimepicker")

    @Scripts.Render("~/bundles/jquery.unobtrusive-ajax")

    @Scripts.Render("~/bundles/jqueryval")

    @Scripts.Render("~/bundles/admin")

    <script type="text/javascript">

        var resources = {};

        $(document).ready(function () {

            InitTargetsModal();
            InitActionsModal();
            InitMessagesModal();

            $.getJSON("@Url.Action("", "Resources", new { area = "" })", function(data) {
                resources = data;
            });
        });

    </script>
}