@using RemoteUpkeep.Properties
@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { @id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink(User.Identity.GetUserName(), "Index", "Manage", new { area = "" }, new { title = "Manage" })
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">@Resources.LogOff</a></li>
        </ul>
    }
}
else
{
        <ul class="nav navbar-nav navbar-right">
            <li>@Html.ActionLink(Resources.Register, "Register", "Account", new { returnUrl = Url.Action(ViewContext.RouteData.Values["action"].ToString(), ViewContext.RouteData.Values["controller"].ToString()), area = "" }, new { @id = "registerLink" })</li>
            <li>@Html.ActionLink(Resources.Login, "Login", "Account", new { returnUrl = Url.Action(ViewContext.RouteData.Values["action"].ToString(), ViewContext.RouteData.Values["controller"].ToString()), area = "" }, new { @id = "loginLink" })</li>
        </ul>
}
