@using RemoteUpkeep.Properties
@model RemoteUpkeep.ViewModels.IndexViewModel
@{
    ViewBag.Title = Resources.ManageAccount;
}

<h2>@ViewBag.Title</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>@Resources.Password:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink(Resources.ChangePassword, "ChangePassword")
            }
            else
            {
                @Html.ActionLink(Resources.SetPassword, "SetPassword")
            }
            ]
        </dd>
        <dt>@Resources.ExternalLogins:</dt>
        <dd>
            @Model.Logins.Count [
            @Html.ActionLink(Resources.Manage, "ManageLogins") ]
        </dd>
    </dl>
</div>

@using (Html.BeginForm("EditProfile", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <h4>@Resources.EditProfile</h4>
    <hr />

    @Html.ValidationSummary("", new { @class = "text-danger" })

    <div class="form-group">
        @Html.LabelFor(m => m.FirstName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.EditorFor(m => m.FirstName, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.LastName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.EditorFor(m => m.LastName, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Phone, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.EditorFor(m => m.Phone, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.CountryId, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.EditorFor(m => m.CountryId, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.CountryId, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.LanguageIds, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.EditorFor(m => m.LanguageIds, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.LanguageIds, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.PrimaryLanguageId, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.EditorFor(m => m.PrimaryLanguageId, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.PrimaryLanguageId, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="@Resources.Save" class="btn btn-primary" />
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}