@using RemoteUpkeep.Models
@using RemoteUpkeep.Helpers
@using RemoteUpkeep.Properties
@model RemoteUpkeep.ViewModels.OrderViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = Resources.Order_Step1_Title;
}

<h3>@ViewBag.Title</h3>

@using (Html.BeginForm("StepOne", "Order", FormMethod.Post, new { @class = "form-horizontal", role = "form", @id = "frmOrder" }))
{
    @Html.AntiForgeryToken()

    <div class="container">
        <div class="panel-group wrap" id="bs-collapse">

            @foreach (Service service in TranslationHelper.GetServices())
            {
                <div class="panel">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#bs-collapse" href="#service_@service.Id">
                                @Html.RadioButtonFor(m => m.ServiceId, service.Id) @service.Title
                            </a>
                        </h4>
                    </div>
                    <div id="service_@service.Id" class="panel-collapse collapse">
                        <div class="panel-body">
                            @Html.Raw(service.Description.TextToHtml())
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>

    <div class="form-group">
        <div class="col-md-10">
            <input type="submit" value="@Resources.Next" class="btn btn-primary" />
        </div>
    </div>
}

@section Scripts {

    @Styles.Render("~/Content/accordion")
    @Scripts.Render("~/bundles/accordion")

}