@using RemoteUpkeep.Properties
@using RemoteUpkeep.Helpers
@model IEnumerable<RemoteUpkeep.Models.Service>

@{
    ViewBag.Title = Resources.Index;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Resources.Services</h2>

<p>
    @Html.ActionLink(Resources.CreateNew, "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedByUserId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedDateTime)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @item.Description.Cut(50)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedBy.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDateTime)
            </td>
            <td>
                @Html.ActionLink(Resources.Edit, "Edit", new { id = item.Id }) |
                @Html.ActionLink(Resources.Delete, "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
