@using System.Globalization
@using RemoteUpkeep.Helpers
@using RemoteUpkeep.Properties
@using RemoteUpkeep.Models
@{
    var val = ViewData.ModelMetadata.Model;
    var name = ViewData.TemplateInfo.HtmlFieldPrefix;
    var id = name.Replace(".", "_").Replace("[", "_").Replace("]", "_");
}

<div class="select-option">
    <i class="ti-angle-down"></i>
    <select name="@name" id="@id" class="form-control region">
        <option>@string.Format("< {0} >", Resources.SelectRegion)</option>
        @foreach (Region region in UIHelper.GetRegions())
        {
            <option value="@region.Id" @(val != null && region.Id.ToString() == val.ToString() ? "selected" : "")
                    data-geo-lat="@string.Format(new CultureInfo("en-US"), "{0}", region.Latitude)"
                    data-geo-lng="@string.Format(new CultureInfo("en-US"), "{0}", region.Longitude)">
                @region.Title
            </option>
        }
    </select>
</div>