@using RemoteUpkeep.Properties
@using RemoteUpkeep.Helpers
@model IEnumerable<RemoteUpkeep.Models.Message>
@{
    ViewBag.Title = Resources.Messages;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Resources.Messages</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(m => m.SenderId)
        </th>
        <th>
            @Html.DisplayNameFor(m => m.ReceiverId)
        </th>
        <th>
            @Html.DisplayNameFor(m => m.Subject)
        </th>
        <th>
            @Html.DisplayNameFor(m => m.Text)
        </th>
        <th>
            @Html.DisplayNameFor(m => m.Date)
        </th>
        <th>
            @Html.DisplayNameFor(m => m.MessageType)
        </th>
        <th>
            @Html.DisplayNameFor(m => m.OrderDetailsId)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Sender.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Receiver.FullName)
            </td>
            <td>
                @item.Subject.Cut(50)
            </td>
            <td>
                @item.Text.Cut(50)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MessageType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderDetails.Order.CreatedDateTime)
            </td>
            <td align="right">
                <button type="button" class="btn btn-default view-message" data-id="@item.Id">@Resources.View</button>
                @Html.ActionLink(Resources.Delete, "Delete", new { id = item.Id, @class = "btn btn-default" })
            </td>
        </tr>
    }

</table>

<!-- Modal -->
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content" id="modal-content"></div>
    </div>
</div>

@section Scripts {

    @Scripts.Render("~/bundles/admin")

    <script type="text/javascript">

        var resources = {};

        $(document).ready(function () {

            InitMessagesModal();

            $.getJSON("@Url.Action("", "Resources", new { area = "" })", function(data) {
                resources = data;
            });

        });

    </script>
}