@model IEnumerable<RemoteUpkeep.Models.Message>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ReceiverId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SenderId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Text)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MessageType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderDetailsId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Receiver.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sender.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Text)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MessageType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrderDetails.Order.CreatedDateTime)
        </td>
        <td>
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
        </td>
    </tr>
}

</table>
