@model RemoteUpkeep.Models.Action

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Action</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AssignedUser.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AssignedUser.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChangedBy.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChangedBy.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Target.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Target.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DueDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DueDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChangedDateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChangedDateTime)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
